PORT=4000
MONGO_URI=mongodb://localhost:27017/tawk

JWT_SECRET=YOUR_SECRET
JWT_EXPIRE=7d
COOKIE_EXPIRE=5


CLOUDINARY_NAME=myname
CLOUDINARY_API_KEY=YOUR_KEY
CLOUDINARY_API_SECRET=YOUR_SECRET

NODE_ENV=development